
@mixin cover-screen {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#root {
  @include cover-screen;
  position: absolute;
}

.svg-layer {
  @include cover-screen;
  position: fixed;
  pointer-events: none;
}

.html-layer {
  display: grid;
  // Middle column provides space for SVG network diagrams.
  // XXX Consider making this more dynamic - if there's too many networks they
  // could still overlap the first column atm.
  grid-template-columns: 30% 20% 50%;
  margin: 20px;

  .selected-asset-inspector {
    grid-column-start: 1;
    position: fixed;
  }

  .cluster-diagram {
    grid-column-start: 3;
  }
}

@mixin asset {
  border: 1px solid black;
  padding: 5px;
}

// Mixin for any top-level asset which appears directly in a rack.
@mixin asset-in-rack {
  @include asset;
  background-color: lightgray;
  margin: 20px;
}

.rack {
  @include asset;
  background-color: darkgrey;
}

.network-switch {
  @include asset-in-rack;
}

.chassis {
  @include asset-in-rack;
  display: grid;
  grid-template-columns: 75% 25%;

  .servers {
    grid-column-start: 1;
  }

  .psus {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
  }
}

.psu {
  @include asset;
  display: inline-block;
  background-color: orange;
}

.server {
  @include asset;
  width: 66%;
  background-color: gray;
  display: grid;
  grid-template-columns: 50% 50%;

  .network-adapters {
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
  }

  .nodes {
    grid-column-start: 2;
  }
}

.node {
  @include asset;
  width: 100px;
  margin-left: 50px;
  background-color: coral;
}

.network-adapter {
  @include asset;
  display: inline-block;
  width: 50px;
  background-color: lightblue;
}

.group {
  // `border-color` will be dynamically generated based on the group name, so
  // each distinct group uses a different colour.
  border-width: 2px;
  border-style: dashed;
  padding: 10px;
}

.title {
  text-decoration: underline;
}
